
<div class="page-header">
<p><i><b>La vostra scelta è </i></b></p>
<h3 class='logo'><%= @recipe [1]['name'] %></h3>
</div>



 <ul class="pager">
      <li><a href="<%= "/recipes" %>">Back to Recipes</a></li>
    </ul>

<hr>



<tbody>
  <tr class='row1'>
<td><b>Description</b>&nbsp<%= @recipe [1]['description'] %></br></br></td>
</tr>
 <tr class='row2'>
<td><b>Instructions</b>&nbsp<%= @recipe [1]['instructions'] %></br></br></td>
</tr>
 <tr class='row3'>
<td><b>Ingredients</b>&nbsp<% @recipe.each do |x| %></br>
  <tr><%= x['ingredients'] %></td></tr>
<% end %>
</tr>
</tbody>












